.header {
    height: 175px;
    max-width: 1920px;
    margin: 0 auto;
}
.header__top {
    height: 50px;
    background-color: rgb(105, 105, 105);
}
.header__container-top {
    max-width: 1361px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__links {
    min-width: 490px;
}
.header__link {
    text-decoration: none;
    color: #c3c3c3;
    margin-right: 30px;
    &:hover {
        color: white;
        border-bottom: 2px solid #ffc925;
        padding-bottom: 16px;
    }
}
.header__sing-in {
    display: flex;
    flex-direction: row-reverse;
}
.header__sing-in>a {
    background-color: rgb(255, 137, 0);
    width: 124px;
    height: 50px;
    background-image: url(/img/header/sing-in.png);
    background-size: 56px 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.header__container-bottom {
    max-width: 1361px;
    height: 125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__phones {
    height: 49px;
    display: flex;
    margin-left: 10px;
}
.phone-1 {
    width: 189px;
    background-color: rgb(245, 245, 245);
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    padding: 17px 10px;
}
.phone-2 {
    width: 189px;
    background-color: rgb(245, 245, 245);
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    padding: 17px 10px;
}
.call-me-btn {
    background-color: rgb(255, 137, 0);
    width: 197px;
    height: 49px;
    background-image: url(/img/header/call-me-back.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.header__container-bottom>div:nth-child(3) {
    justify-content: space-between;
}
.header__compare {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    color: #3d3d3d;
    font-size: 10px;
    font-weight: 400;
    border-right: 1px solid #e4e4e4;
    padding-right: 35px;
    cursor: pointer;
}
.header__favorites {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    color: #3d3d3d;
    font-size: 10px;
    font-weight: 400;
    border-right: 1px solid #e4e4e4;
    padding-right: 35px;
    cursor: pointer;
}
.header__basket {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    color: #3d3d3d;
    font-size: 10px;
    font-weight: 400;
    padding-right: 35px;
    cursor: pointer;
}

@media screen and (min-width: 1050px) and (max-width: 1394px) {
    .header__container-top {
        max-width: 1050px;
    }
    .header__container-bottom {
        max-width: 1050px;
    }
    .header__phones>div {
        flex-wrap: nowrap;
    }
    .header__compare {
        padding-right: 15px;
        padding-left: 10px;
    }
    .header__favorites {
        padding-right: 15px;
    }
    .header__basket {
        padding-right: 15px;
    }
}

@media screen and (min-width: 715px) and (max-width: 1049px) {
    .header__container-top {
        max-width: 715px;
    }
    // .header__phones {
    //     width: 200px;
    // }
    .header__container-bottom {
        max-width: 715px;
    }
    .header__phones {
        width: 260px !important;
        margin-left: 20px;
    }
    .phones-container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 50px;
    }
    .phone-1 {
        // height: 20px;
        width: 130px;
        font-size: 12px;
        padding: none;
        padding-top: 6px;
        padding-bottom: 5px;
    }
    .phone-2 {
        // height: 20px;
        width: 130px;
        font-size: 12px;
        padding: none;
        padding-top: 5px;
        padding-bottom: 6px;
    }
    .call-me-btn {
        width: 120px;
        background-size: 100px;
    }
    .header__logo>img {
        width: 170px;
    }
    .header__container-bottom>div:nth-child(3) {
        width: 270px;
    }
    .header__compare {
        padding-right: 25px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__compare>img {
        width: 30px;
    }
    .header__favorites {
        padding-right: 25px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__favorites>img {
        width: 30px;
    }
    .header__basket {
        padding-right: 25px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__basket>img {
        width: 30px;
    }
}

@media screen and (max-width: 714px) {
    .header__container-top {
        max-width: 360px;
        position: relative;
    }
    .header__links {
        min-width: 360px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .header__link {
        margin-right: 8px;
        font-size: 10px;
        &:hover {
            color: white;
            border-bottom: 2px solid #ffc925;
            padding-bottom: 16px;
        }
    }
    .header__sing-in {
        // display: none;
        position: absolute;
        top: 50px;
        right: 0px;
    }
    .header__sing-in>a {
        width: 60px;
        background-size: 40px 13px;
        
    }
    .header__container-bottom {
        margin-top: 20px;
        max-width: 360px;
    }
    .header__container-bottom>div:nth-child(3) {
        position: absolute;
        justify-content: space-around;
        width: 300px;
        top: 55px;
    }
    .header__compare {
        padding-right: 35px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__compare>img {
        width: 30px;
    }
    .header__favorites {
        padding-right: 30px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__favorites>img {
        width: 30px;
    }
    .header__basket {
        padding-right: 25px;
        padding-left: 10px;
        height: 40px;
        font-size: 8px;
    }
    .header__basket>img {
        width: 30px;
    }

    .header__logo>img {
        width: 120px;   
    }
    .header__phones {
        width: 225px !important;
    }
    .phone-1 {
        // height: 20px;
        width: 150px;
        font-size: 12px;
        padding: none;
        padding-left: 23px;
        padding-top: 6px;
        padding-bottom: 5px;
    }
    .phone-2 {
        // height: 20px;
        width: 150px;
        font-size: 12px;
        padding: none;
        padding-left: 23px;
        padding-top: 5px;
        padding-bottom: 6px;
    }
    .call-me-btn {
        width: 110px;
        background-image: url(/img/header/phone-line.png);
        background-size: 20px;
    }
}