// @media screen and (min-width: 1395px) {
.main {
    flex-direction: column;
}
.main__title {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 38px;
    margin-bottom: 13px;
}
.main__title-text {
    font-size: 36px;
    font-weight: 400;
    color: #3b3b3b;
}
.main__title-link {
    font-size: 14px;
    font-weight: 400;
    color: #3b3b3b;
    width: 150px;
    justify-content: space-between;
}
.arrow-icon {
    background-image: url(/img/main/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 4px;
    fill: yellow;
    width: 25px;
}
.main__cards {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1361px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.main__cards div:last-child {
    border-right: none;
}
.main__card {
    width: 340px;
    height: 572px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #dbdbdb;
    margin-bottom: 15px;
}
.card__marks {
    margin-bottom: 20px;
    flex-wrap: nowrap;
}
.card__mark {
    background-image: url(/img/main/card/mark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 79px 22px;
    width: 79px;
    height: 22px;
}
.card__title {
    min-width: 300px;
    min-height: 50px;
    font-size: 17px;
    font-weight: 400;
    color: #3b3b3b;
    line-height: 26px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
.under__title {
    margin-top: 16px;
    flex-wrap: nowrap;
}
.rate {
    width: 100px;
    height: 15px;
}
.star {
    background-image: url(/img/main/card/rate-star-clear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.star--active {
    background-image: url(/img/main/card/rate-star-fill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}
.reviews__title {
   margin-left: 10px; 
   font-size: 13px;
   font-weight: 400;
   color: #9b9b9b;
}
.availability__title {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    margin-left: 15px;
}
.card__main {
    margin-top: 23px;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #91959a;
    font-size: 10px;
    font-weight: 400;
}
.card__features-left-bar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 83px;
    height: 200px;
}
.card__main-image1 {
    background-image: url(/img/main/card/main-image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
}
.card__main-image2 {
    background-image: url(/img/main/card/main-image2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
}
.card__main-image3 {
    background-image: url(/img/main/card/main-image3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
}
.card__main-image4 {
    background-image: url(/img/main/card/main-image4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
}
.card__features-right-bar {
    flex-direction: column;
    justify-content: flex-start;
    width: 83px;
    height: 200px;
}
.feature {
    margin-bottom: 10px;
}
.feature ~ span {
    margin-bottom: 15px;
}
.feature--summer {
    background-image: url(/img/main/card/summer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
}
.feature--car {
    background-image: url(/img/main/card/car.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53px 26px;
    width: 53px;
    height: 26px;
}
.feature--new {
    background-image: url(/img/main/card/new.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 25px;
    width: 48px;
    height: 25px;
}
.card__bottom {
    flex-direction: column;
}
.card__features-bottom {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.feature-bottom {
    margin-right: 15px;
}
.feature-bottom--novelty {
    background-image: url(/img/main/card/novelty.png);
    background-repeat: no-repeat;
    background-position: -11px -5px;
    box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
    width: 74px;
    height: 26px;
}
.feature-bottom--hit {
    background-image: url(/img/main/card/hit.png);
    background-repeat: no-repeat;
    background-position: -11px -5px;
    box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
    width: 74px;
    height: 26px;
}
.feature-bottom--discount {
    background-image: url(/img/main/card/discount.png);
    background-repeat: no-repeat;
    background-position: -11px -5px;
    box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
    width: 74px;
    height: 26px;
}
.card__prices {
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 10px;
}
.card__price-new {
   font-style: italic;
   font-weight: 700;
   font-size: 33px;
   color: #3b3b3b; 
   align-self: flex-end;
}
.card__price-new>span {
    font-size: 22px;
}
.card__price-old {
    font-style: italic;
    color: #989898;
    font-size: 22px;
    font-weight: 700;
    text-decoration: line-through;
    align-self: flex-end;
    padding-bottom: 5px;
}
.buy-item-btn {
    width: 210px;
    height: 50px;
    background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
    outline: none;
    border: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: 14px;
    font-weight: 700;
    &:hover {
        background-image: linear-gradient(to right, #d36e00 0%, #e59100 100%);
    }
}
.buy-item-btn>span {
    background-image: url(/img/main/card/basket.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 28px;
    margin-right: 15px;
}
.card__buttons {
    justify-content: space-between;
    color: #3b3b3b;
    font-style: 14px;
    font-weight: 400;
    margin-top: 13px;
}
.card__compare {
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &>span {
        background-image: url(/img/main/card/compare.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 34px 26px;
        width: 34px;
        height: 26px;
        margin-right: 10px;
    }
}
.card__favorite {
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &>span {
        background-image: url(/img/main/card/favorite.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 34px 26px;
        width: 34px;
        height: 26px;
        margin-right: 10px;
    }
}
// }

@media screen and (min-width: 1050px) and (max-width: 1394px) {
    .container {
        max-width: 1055px;
    }
    .main__cards {
        max-width: 1055px;
        margin: 0 auto;
    }
    .main__card:nth-child(3) {
        border-right: none;
    }
}

@media screen and (min-width: 715px) and (max-width: 1049px) {
    .container {
        max-width: 715px;
    }
    .main__title-text {
        font-size: 26px;
    }
    .main__cards {
        max-width: 1055px;
        margin: 0 auto;
    }
    .main__card:nth-child(2) {
        border-right: none;
    }
}

@media screen and (max-width: 714px) {
    .container {
        max-width: 360px;
    }
    .main__title {
        justify-content: flex-end;
    }
    .main__title-text {
        display: none;
    }
    .main__cards {
        max-width: 1055px;
        margin: 0 auto;
    }
    .main__card {
        border-right: none;
        border-bottom: 1px solid #dbdbdb;
    }
    .main__card:last-child {
        border-bottom: none;
    }
}