* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container {
    max-width: 1361px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.link {text-decoration: none;}